package templates

templ Home() {
    <main class="container mx-auto">
        <h1 class="text-4xl font-bold text-center">Welcome to GOTTH FINANCIAL TRACKER</h1>
        <p class="text-center">Track your income and expenses</p>
    </main>
}